@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "./daisyui.mjs" ;

@plugin "./daisyui-theme.mjs" {
  name: "light";
  default: true;
  --color-primary: #d84d20;
  --color-primary-code: #d84d2040;
}

@plugin "./daisyui-theme.mjs" {
  name: "dark";
  prefersdark: true;
  --color-primary: #d84d20;
  --color-primary-code: #d84d20ad;
}

h1 {
  @apply mt-6 mb-4 text-4xl font-extrabold text-primary;
  text-shadow: 4px 6px 5px rgba(0, 0, 0, 0.4);
}

h2 {
  @apply mt-6 mb-4 text-3xl font-extrabold text-primary;
}

h3 {
  @apply mt-6 mb-4 text-2xl font-extrabold text-primary;
}

h4 {
  @apply font-extrabold text-primary mt-6 mb-4 text-xl;
}

hr {
  @apply py-4;
}

p {
  @apply mb-4 text-lg leading-relaxed;
}

.alert :first-child {
  @apply mt-0;
}
.alert :last-child {
  @apply mb-0;
}

ul {
  @apply list-inside list-disc space-y-2;
}

blockquote {
  @apply border-l-4 border-gray-300 pl-4 text-gray-600 italic;
}
:root:has(input.theme-controller[value=dark]:checked) blockquote {
  @apply text-gray-400;
}

pre {
  @apply block mb-4;
}

pre:has(code) {
  @apply overflow-x-auto rounded-xl bg-base-200 p-4 whitespace-pre text-primary-content shadow-md;
}
:root:has(input.theme-controller[value=dark]:checked)
pre:has(code) {
  @apply text-base-content;
}

pre code {
  @apply block min-w-full whitespace-pre;
}

:not(pre) > code {
  @apply text-base-content;
  background-color: var(--color-primary-code)
}

:root:has(input.theme-controller[value=dark]:checked) :not(pre) > code {
  background-color: var(--color-primary-code)
}

table {
  @apply table
}

.tip :first-child {
  @apply mt-0;
}
.tip :last-child {
  @apply mb-0;
}